Package: top.yzzi.supertabbar
Version: 0.0.2
Depends: x11-utils,libdtkwidget5,libdtkgui5,libdtkgui5
Maintainer: 柚子 <chowhound_xb@163.com>
Homepage: https://blog.yzzi.top
Architecture: amd64
Priority: optional
Description: 超级标签栏

